<!DOCTYPE html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<script>
		function getAllHistory() {
			$.ajax({
				type: "GET"
				, url: `/history/`
				, dataType: 'json'
				, cache: false
			}).done(function (result) {
				var out = "";
				for (i = 0; i < result.length; i++) {
					if (result[i].Type == "IN") {
						out += `<li>${result[i].UserName} heeft ${result[i].Hoeveelheid} X ${result[i].ProductName} in de locker met id ${result[i].Locker_ID} gestoken op ${result[i].Timestamp}</li>`
					}
					else {
						out += `<li>${result[i].UserName} heeft ${result[i].Hoeveelheid} X ${result[i].ProductName} uit de locker met id ${result[i].Locker_ID} genomen op ${result[i].Timestamp}</li>`
					}
				}
				$("#all").html(out)
			}).fail(function (data, statusText, xhr) {})
		}

		function start() {
			getAllHistory();
			setInterval(getAllHistory, 1000)
		}
	</script>
	<style>
	    body {background-color:greenyellow;font-size: 25px}
		input {background-color: green;font-size: 25px}
		button {background-color: yellow;font-size: 25px}
		ul {list-style-type: none; display: inline-block;background-color: yellow;font-size: 25px}
		
	</style>
</head>
<html>

<body onload="start();">
	<ul id="all"></ul>
</body>

</html>