<!DOCTYPE html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<script>
		function getUserData() {
			var id = $("#userid").val()
			$.ajax({
				type: "GET"
				, url: `/user/${id}`
				, dataType: 'json'
				, cache: false
			}).done(function (result) {
				var out = "";
				for (i = 0; i < result.length; i++) {
					out += `<li>${result[i].UserName}</li>`
				}
				$("#result").html(out)
				//$("#result").html(result[0].UserName);
			}).fail(function (data, statusText, xhr) {})
		}

		function getProductData() {
			var id = $("#productid").val()
			$.ajax({
				type: "GET"
				, url: `/product_code/${id}`
				, dataType: 'json'
				, cache: false
			}).done(function (result) {
				var out = "";
				for (i = 0; i < result.length; i++) {
					out += `<li>${result[i].ProductName}</li><li>${result[i].Code}</li>`
				}
				$("#result").html(out)
				//$("#result").html(result[0].UserName);
			}).fail(function (data, statusText, xhr) {})
		}
		function getAllData() {

			var id = $("#productid").val()
			$.ajax({
				type: "GET"
				, url: `/product_all/`
				, dataType: 'json'
				, cache: false
			}).done(function (result) {
				var out = "";
				for (i = 0; i < result.length; i++) {
					out += `<li>${result[i].ProductName}</li><li>${result[i].Code}</li>`
				}
				$("#all").html(out)
				//$("#result").html(result[0].UserName);
			}).fail(function (data, statusText, xhr) {})
			
		}
		
		function start(){
			getAllData();
			setInterval(getAllData, 1000)
		}
	</script>
<style>
	    body {background-color:greenyellow;font-size: 25px}
		input {background-color: green;font-size: 25px}
		button {background-color: yellow;font-size: 25px}
		ul {list-style-type: none; display: inline-block;background-color: yellow;font-size: 25px}
		
	</style>
</head>
<html>

<body onload="start();"> <span>USERID</span>
	<input id="userid">
	<button onClick="getUserData();">Load</button> <span>PRODUCTID</span>
	<input id="productid">
	<button onClick="getProductData();">Load</button>
	<ul id="result"></ul>
	<br>
	<br>
	<br>
	<br>
	<ul id="all"></ul>
</body>

</html>